.container {
  padding-top: 13px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
  .title {
    font-size: 15px;
    font-weight: 500;
    color: #6e6e6e;
  }
  .boxOfGraph {
    padding-top: 14px;
    height: 140px;
    position: relative;
    .intDisplay {
      position: absolute;
      right: 5%;
      top: 3%;
      font-weight: 700;
      font-size: 15px;
      letter-spacing: -0.4px;
      color: rgb(239, 105, 90);
    }
  }
}
